h1{
    text-shadow: 1px 1px 2px black, 0 0 1cm greenyellow, 0 0 2em greenyellow;
    color: greenyellow;
    font-weight: 400;
}

p{
    text-align:left;
    width: 50%;
    background-color: antiquewhite;
    font-weight: 700;
    font-size: 200%;
    box-shadow: 2em 2em 2em 2em black;
    text-decoration: orange wavy;
    line-height: 80px;
    letter-spacing: 20px;
    font-family: 'Frederica the Great', cursive, Sans-Serif;
}
/*YOUR CODE GOES IN HERE*/
